[Unit]
Description=Thomas Vamos Wifi Radio
After=network.target multi-user.target

[Service]
Type=idle
User=root
PIDFile=/tmp/wifi_radio.pid
ExecStart=/usr/bin/python /usr/local/bin/wifi_radio

[Install]
WantedBy=multi-user.target