[Unit]
Description=Thomas Vamos Wifi Radio
After=network.target multi-user.target

[Service]
Type=idle
User=root
PIDFile=/tmp/wifi_radio.pid
ExecStart=/usr/bin/python /usr/local/lib/python2.7/dist-packages/wifi_radio/wifi_radio.py

[Install]
WantedBy=multi-user.target